.env
flask_session/
model/hate_speech_kinyarwanda_synthetic_mixed.csv
model/generated_kinyarwanda_hatespeech.csv
model/kinyarwanda_hate_speech_preprocessed.csv
model/kinyarwanda_hate_speech_preprocessed2.csv