Flask
gunicorn
flask_sqlalchemy
flask_login
flask_mail
werkzeug
joblib
numpy
sqlalchemy
dotenv
scikit-learn #(model training)
Flask-Dance
flask-limiter
flask_cors
flask_session
authlib
torch
# datasets (model training)
# evaluate (model training)
transformers
huggingface_hub
# huggingface